#fd {
  width: 100px;
  height: 100px;
  background-color: red;
  float: left;
}
#sd {
  width: 150px;
  height: 100px;
  background-color: blue;
}
#td {
  width: 100px;
  height: 100px;
  background-color: green;
}