<!DOCTYPE html>
<html>
<head>
  <meta charset="uft-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" constent="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <title></title>
  <link href="http://localhost/css/bootstrap.min.css" rel="stylesheet">
<!-- CSS here -->
  <style>

  </style>
</head>
<body>
  <div ng-app="" ng-controller="formController">
    <form novalidate>
      First Name: <br />
      <input type="text" ng-model="user.firstName"/><br />
      Last Name: <br />
      <input type="text" ng-model="user.lastName"/><br />
      <br />
      <br />
      <button ng-click="reset()">RESET</button>
    </form>
    <p>form = {{ user }}</p>
    <p>master = {{ master }}</p>
  </div>
  <script src="http://localhost/js/jquery.min.js"></script>
  <script src="http://localhost/js/bootstrap.min.js"></script>
  <script src="http://localhost/js/angular.min.js"></script>
  <script>
    function formController($scope) {
      $scope.master = { firstName: "John", lastName: "Doe" };
      $scope.reset = function() {
        $scope.user = angular.copy($scope.master);
      };
      $scope.reset();
    }
  </script>
</body>
</html>
