<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gudigudigudi.mdtemplate">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- API4.4- -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- dangerous permission -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.READ_SMS"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_weather"
        android:label="@string/app_name"
        android:resizeableActivity="false"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.webkit.WebView.EnableSafeBrowsing"
            android:value="true"/>


        <activity
            android:name=".activity.MainActivity"
            android:label="Main">
        </activity>
        <activity android:name=".activity.IMActivity">
        </activity>
        <activity android:name=".activity.FragmentDemoActivity">
        </activity>
        <activity android:name=".activity.NewsContentActivity">
        </activity>
        <activity android:name=".activity.NewsTitleActivity">
        </activity>
        <activity android:name=".activity.BroadcastActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
        <activity android:name=".activity.DataStoreActivity">
        </activity>
        <activity android:name=".activity.ContentProviderActivity">
        </activity>
        <activity android:name=".activity.SystemServiceActivity">
        </activity>
        <activity android:name=".activity.NotificationToggledActivity">
        </activity>
        <activity android:name=".activity.WebActivity">
        </activity>
        <activity
            android:name=".activity.MaterialDesignActivity"
            android:label="Material Design Component">
        </activity>

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.CustomBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gudigudigudi.mdtemplate.CUSTOM_BROADCAST"/>
            </intent-filter>
        </receiver>

        <provider
            android:name=".provider.CustomContentProvider"
            android:authorities="com.gudigudigudi.mdtemplate.customprovider"
            android:enabled="true"
            android:exported="true">
        </provider>
        <provider
            android:name=".provider.DatabaseContentProvider"
            android:authorities="com.gudigudigudi.mdtemplate.databaseprovider"
            android:enabled="true"
            android:exported="true">
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.gudigudigudi.mdtemplate.fileprivider"
            android:enabled="true"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity android:name=".activity.FruitContentActivity">
        </activity>
        <activity android:name=".activity.WeatherActivity">
        </activity>
        <activity android:name=".activity.ChooseAreaActivity">
        </activity>

        <service
            android:name=".service.WeatherAutoUpdateService"
            android:enabled="true"
            android:exported="true">
        </service>
        <service
            android:name=".service.download.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity android:name=".activity.DownloadActivity">
        </activity>
        <activity android:name=".activity.materialdesign.CardViewActivity">
        </activity>
        <activity android:name=".activity.materialdesign.AlertDialogActivity">
        </activity>
        <activity android:name=".activity.materialdesign.GridViewActivity">
        </activity>
        <activity android:name=".activity.materialdesign.ViewPagerActivity">
        </activity>
        <activity android:name=".activity.materialdesign.ToolbarActivity">
        </activity>
        <activity android:name=".activity.PermissionActivity">
        </activity>
        <activity android:name=".activity.materialdesign.TabLayoutActivity">
        </activity>
        <activity android:name=".activity.materialdesign.FragmentPagerAdapterActivity">
        </activity>

        <receiver
            android:name=".receiver.SmsBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter android:priority="999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <activity android:name=".activity.SmsBroadcastActivity">
        </activity>
        <activity android:name=".activity.HandlerActivity">
        </activity>
        <activity android:name=".activity.AnimationActivity">
        </activity>
        <activity android:name=".activity.AnimationSetActivity">
        </activity>
        <activity android:name=".ViewAnimationActivity">
        </activity>
        <activity android:name=".LoadingAnimationActivity">
        </activity>
        <activity android:name=".AnimatorActivity">
        </activity>
        <activity android:name=".activity.TransitionActivity">
        </activity>
        <activity android:name=".CustomViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity android:name=".mvvm.DatabindingActivity">

        </activity>
        <activity android:name=".activity.CrimeActivity">

        </activity>
    </application>

</manifest>