@mixin title-caps() {
  letter-spacing: .3em;
  text-indent: .3em;
  text-transform: uppercase;
}

@mixin ellipsized {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin force-wrap {
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  hyphens: auto;
}
